.git
.github
.idea
.vscode
.env
**/.env
!**/.env.example
**/.dart_tool
**/.idea
**/build
**/coverage
**/dist
**/node_modules
**/vendor
api/bootstrap/cache/*.php
api/database/*.sqlite
api/storage/framework/cache/**
api/storage/framework/sessions/**
api/storage/framework/views/**
api/storage/logs/**
git-diff.txt
